
  <div class="container-fluid" id="cards-wrapper">
    <div class="container p-5">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card card1 h-100">
            <div class="card-body" id="wd-basic">
             
              <h5 class="card-title">Basic</h5>
              <small class='text-muted'>For freelancers and start ups</small>
              <br><br>
              <span class="h2 pricing-cost">$800</span>Once
              <br><br>
              <ul>
                <li>1-3 Pages</li>
                <li>Logo & branding Integration</li>
                <li>Google My Business Set Up</li>
                <li>Contact Form Handeling</li>
                <li>Search Engine Analytics</li> 
                <li>Responsive Design</li>
                <li>SEO friendly</li>
                <hr>
                <br>
                <br>
                <br>
                <br>
                <li>$20/Month Hosting</li>
              </ul>
                <br><br>
                <div class="d-grid my-3">
                  <button class="btn btn-outline-dark btn-block">Select</button>
                </div>
            
            </div>

            
          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card card2 h-100">
            <div class="card-body" id="wd-medium">
             
              <h5 class="card-title">Advanced</h5>
              <small class='text-muted'></small>
              <br><br>
              <span class="h2 pricing-cost">$1,500</span>Once
              <br><br>
        
              <ul>
                <li>3-5 Pages</li>
                <li>Logo & branding Integration</li>
                <li>Google My Business Set Up</li>
                <li>Contact Form Handeling</li>
                <li>Search Engine Analytics</li> 
                <li>Responsive Design</li>
                <li>SEO friendly</li>
                <li>No code blog or portfolio</li>
                <hr>
                <br>
                <br>
                <br>
                
                <li>$30/Month Hosting</li>
              </ul>
              <br><br>
              <div class="d-grid my-3">
                <button class="btn btn-outline-dark btn-block">Select</button>
              </div>
            </div>

            
          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card card3 h-100">
            <div class="card-body" id="wd-premium">
             
              <h5 class="card-title">Premium</h5>
              <small class='text-muted'>Large Company</small>
              <br><br>
              <span class="h2 pricing-cost">$2,000</span>Once
              <br><br>
              <ul>
                <li>5+ Pages</li>
                <li>Logo & branding Integration</li>
                <li>Google My Business Set Up</li>
                <li><mark>Google reviews integration</mark></li>
                <li>Contact Form Handeling</li>
                <li><mark>Custom form notifications</mark></li>
                <li>Search Engine Analytics</li> 
                <li><mark>Search Engine Analytics Dashboard</mark></li>
                <li>Responsive Design</li>
                <li>SEO friendly</li>
                <li>No code blog <mark>& portfolio</mark></li>
                <hr>
                <li>$30/Month Hosting</li>          
              </ul>
              <br><br>
              <div class="d-grid my-3">
                <button class="btn btn-outline-dark btn-block">Select</button>
              </div>
            </div>

            
          </div>
        </div>
      </div>    
    </div>
    </div>