<div class="feature-service">
	<div class="container">
		<div class="feature-wpr grid-1">
            <div class="ourprocess">
            <h2>Our Process</h2>
        </div>
			<div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
				<div class="feature-icon">
					<img src="" alt="thumb">
				</div>
				<div class="feature-info process-item">
					<h5>Initial Meeting</h5>
					<p class="mb-40 feature-text">We will meet with you online to go over your needs for your new site. We will let you know what we need from you to build your new custom site. We will provide you with a list of assets we will need to get started on the project.</p>
				</div>
			</div>
            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
				<div class="feature-icon">
					<img src="" alt="thumb">
				</div>
				<div class="feature-info process-item">
					<h5>Wireframing</h5>
					<p class="mb-40 feature-text">We will build out a wireframe with some potential ides for your new site and send them for your review. The wire frame will include place holder images and text</p>
				</div>
			</div>
            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
				<div class="feature-icon process-item">
					<img src="" alt="thumb">
				</div>
				<div class="feature-info process-item">
					<h5>First Revision Meeting</h5>
					<p class="mb-40 feature-text">We will meet with you once again (online) to discuss the wireframe ideas and drill down your design needs for the site. This will give us a better idea of what you imagine</p>
				</div>
			</div>
            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.0s">
				<div class="feature-icon">
					<img src="" alt="thumb">
				</div>
				<div class="feature-info process-item">
					<h5>Receive Assets</h5>
					<p class="mb-40 feature-text">At this point we require your assets. This is normally the number one slow down on any custom website build so we will remind you at the initial revision meetings</p>
				</div>
			</div>
            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.0s">
				<div class="feature-icon">
					<img src="" alt="thumb">
				</div>
				<div class="feature-info process-item">
					<h5>Your Branding</h5>
					<p class="mb-40 feature-text">We will design and build a custom website with a design that fits your companies look, feel and, message</p>
				</div>
			</div>
            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.0s">
				<div class="feature-icon">
					<img src="" alt="thumb">
				</div>
				<div class="feature-info process-item">
					<h5>Form Handeling</h5>
					<p class="mb-40 feature-text">Get an email, slack message, or, with our premium package we can build you a custom notification solution</p>
				</div>
			</div>
            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.0s">
				<div class="feature-icon">
					<img src="" alt="thumb">
				</div>
				<div class="feature-info process-item">
					<h5>Design Revisions</h5>
					<p class="mb-40 feature-text">We think you'll love what we design for you but, just in case we offer design revisions for free (within reason of coourse)</p>
				</div>
			</div>
            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.0s">
				<div class="feature-icon">
					<img src="" alt="thumb">
				</div>
				<div class="feature-info process-item">
					<h5>No Code Blog</h5>
					<p class="mb-40 feature-text">Included in our advanced and premium packages is a no code blog and or portfolio that you can easily update by filling in a form</p>
				</div>
			</div>
		</div>
	</div>
</div>