<div class="what-area what-page de-pb">
	<div class="container">
		<div class="what-wpr grid-3">

			{%- for whatarea1 in site.whatarea1 -%}

			<div class="what-box wow fadeInUp service-card" data-wow-duration="1s" data-wow-delay=".4s">
				<div class="what-icon">
					<img src="{{ whatarea1.image  | relative_url }}" height="20" alt="thumb">
				</div>
				<div class="what-info">
					<h5>{{ whatarea1.title }}</h5>
					<p>{{ whatarea1.description }}</p>
					<a href="{{ whatarea1.service_link }}" class="what-btn">{{ whatarea1.service_text  }}</a>
				</div>
			</div>

			{%- endfor -%}

		</div>
	</div>
</div>