
<div class="single-area de-padding">
	<div class="container">
		<div class="contact-page-info grid-2">
			<div class="contact-left">
				<h2 data-splitting class="mb-50 wow" data-wow-duration=".1s" data-wow-delay=".4s">
					Looking for more information on web hosting?
				</h2>
				<p>Because we offer <mark>SO</mark> many services when it comes to hosting, please contact us to get more information and we will get in touch</p>
			</div>
			<div class="contact-right wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
				<!--<form
  					name="contact"
					action="/success"
  					method="POST"
  					netlify-honeypot="bot-field"
  					data-netlify="true"
				>
					<!--Dont fill this out if you are a human-->
					 <input class="hidden" name="bot-field" />
					<!--
			
					<div class="row g-4">
						<div class="col-md-6">
							<input type="text" name="name" class="form-control input-style-2"
								placeholder="Marcos Zeletoyan">
						</div>
						<div class="col-md-6">
							<input type="text" name="phone" class="form-control input-style-2"
								placeholder="+00- 1234- 56789">
						</div>
						<div class="col-md-12">
							<input type="email" name="email" class="form-control input-style-2"
								placeholder="Email Address">
						</div>
						<div class="col-12">
							<textarea class="form-control input-style-2" name="message"
								placeholder="Message"></textarea>
						</div>
						<div class="col-12">
							<button type="submit" class="theme-btn mt-20">
								Send Message
							</button>
						</div>
						<div class="col-12 text-center">
							<p class="form-message"></p>
						</div>
					</div>
				</form>-->
                <iframe width="600" height="850" src="https://portal.chrisconnelly.ca/forms/wtl/16106cbcfec124b575d1e352680e93ac" frameborder="0" sandbox="allow-top-navigation allow-scripts allow-forms allow-same-origin" allowfullscreen></iframe>		</div>
	</div>
</div>
<!-- End  Blog-Content -->


