
<div class="single-area de-padding">
	<div class="container">
		<div class="contact-page-info grid-2">
			<div class="contact-left">
				<h2 data-splitting class="mb-50 wow" data-wow-duration=".1s" data-wow-delay=".4s">
					Looking for more information on web hosting?
				</h2>
				<p>Because we offer <mark>SO</mark> many services when it comes to hosting, We have an entire website dedicated to it.</p> <a href="https://domains.calgaryweb.design">DOMAINS.CALGARYWEB.DESIGN</a>
			</div>
			<div class="contact-right wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                <img src="/assets/img/domains.png" height="850" width="600"/>
            </div>
	</div>
</div>



