<section id="webdesigninfosection">
    <div class="feature-service">
        <div class="container">
            <div class="feature-wpr grid-3">
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="feature-icon">
                        <i class="fa-solid fa-server fa-5x"></i>
                    </div>
                    <div class="feature-info">
                        <h5>Traditional</h5>
                        <p class="mb-40 feature-text">Traditional single server web hosting for E Commerce, web applications and wordpress deployments. Cpanel access and more!</p>
                    </div>
                </div>
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                    <div class="feature-icon">
                        <i class="fa-solid fa-star-shooting fa-5x"></i>
                    </div>
                    <div class="feature-info">
                        <h5>Serverless</h5>
                        <p class="mb-40 feature-text">Host your site on a worldwide content delivery network for lightning fast speeds, better security and less development time</p>
                    </div>
                </div>
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                    <div class="feature-icon">
                        <i class="fa-solid fa-at fa-5x"></i>
                    </div>
                    <div class="feature-info">
                        <h5>Email Hosting</h5>
                        <p class="mb-40 feature-text">Basic email hosting that is super secure with awesome spam protection, VIP email hosting with private servers for email distribution</p>
                    </div>
                </div>
         
               
            </div>
        </div>
    </div>
    </section>