<section id="webdesigninfosection">
<div class="feature-service">
	<div class="container">
		<div class="feature-wpr grid-4">
			<div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
				<div class="feature-icon">
					<i class="fa-brands fa-searchengin fa-5x"></i>
				</div>
				<div class="feature-info">
					<h5>Search Engine Optimized</h5>
					<p class="mb-40 feature-text">Your site will come SEO friendly out of the box with your chosen keywords and company information</p>
				</div>
			</div>
            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
				<div class="feature-icon">
					<i class="fa-solid fa-bolt fa-5x"></i>
				</div>
				<div class="feature-info">
					<h5>Lightning Fast</h5>
					<p class="mb-40 feature-text">All of our sites are built with modern techniques to ensure your site loads faster than your competition</p>
				</div>
			</div>
            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
				<div class="feature-icon">
					<i class="fa-solid fa-narwhal fa-5x"></i>
				</div>
				<div class="feature-info">
					<h5>Unique & User Friendly</h5>
					<p class="mb-40 feature-text">We will design and build a custom website with a design that fits your companies look, feel and, message</p>
				</div>
			</div>
            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.0s">
				<div class="feature-icon">
					<i class="fa-solid fa-timer fa-5x"></i>
				</div>
				<div class="feature-info">
					<h5>Less Development Time</h5>
					<p class="mb-40 feature-text">Because we use JAMstack web development techniques we can assure you less down / development time and less ehad ache</p>
				</div>
			</div>
            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.2s">
				<div class="feature-icon">
					<i class="fa-solid fa-face-grin-hearts fa-5x"></i>
				</div>
				<div class="feature-info">
					<h5>Your Branding</h5>
					<p class="mb-40 feature-text">We will design and build a custom website with a design that fits your companies look, feel and, message</p>
				</div>
			</div>
            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
				<div class="feature-icon">
					<i class="fa-solid fa-align-center fa-5x"></i>
				</div>
				<div class="feature-info">
					<h5>Form Handeling</h5>
					<p class="mb-40 feature-text">Get an email, slack message, or, with our premium package we can build you a custom notification solution</p>
				</div>
			</div>
            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.6s">
				<div class="feature-icon">
					<i class="fa-solid fa-circle-check fa-5x"></i>
				</div>
				<div class="feature-info">
					<h5>Design Revisions</h5>
					<p class="mb-40 feature-text">We think you'll love what we design for you but, just in case we offer design revisions for free (within reason of coourse)</p>
				</div>
			</div>
            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.0s">
				<div class="feature-icon">
					<i class="fa-solid fa-blog fa-5x"></i>
				</div>
				<div class="feature-info">
					<h5>No Code Blog</h5>
					<p class="mb-40 feature-text">Included in our advanced and premium packages is a no code blog and or portfolio that you can easily update by filling in a form</p>
				</div>
			</div>
		</div>
	</div>
</div>
</section>