
  <div class="container-fluid" id="cards-wrapper" style="margin-top:10vh;">
    <div class="container p-5">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card card1 h-100">
            <div class="card-body" id="wd-basic">
             
              <h3 class="card-title">Basic</h3>
              <small class='text-muted'>For freelancers and start ups</small>
              <br><br>
              <span class="h2 pricing-cost">
                <small class="startingat" style="font-size:xx-small">Starting At</small>
                <br>
                <h4 class="card-title">$800</h4>
              </span>
              <small class="startingat" style="font-size:xx-small">Once</small>
              <br><br>
              <ul>
                <li> <h5 class="card-title">1-3 Pages</h5></li>
                <li>Logo & branding Integration</li>
                <li>Google My Business Set Up</li>
                <li>Contact Form Handeling</li>
                <li>Search Engine Analytics</li> 
                <li>Responsive Design</li>
                <li>SEO friendly</li>
                <hr>
                <br>
                <br>
                <br>
                <br>
                <li>$20/Month Hosting</li>
                <small class="promotion-hosting">6 Months Free!</small>
              </ul>
                <br><br>
                <div class="d-grid my-3">
                  <button class="btn btn-outline-dark btn-block">Get A Quote</button>
                </div>
            
            </div>

            
          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card card2 h-100">
            <div class="card-body" id="wd-medium">
             
              <h3 class="card-title">Advanced</h3>
              <small class='text-muted'>Our most popular</small>
              <br><br>
              <span class="h2 pricing-cost">
                <small class="startingat" style="font-size:xx-small">Starting At</small>
                <br>
                <h4 class="card-title">$1,300</h4>
              </span>
              <small class="startingat" style="font-size:xx-small">Once</small>
                <br><br>
        
              <ul>
                <li><h5 class="card-title">3-5 Pages</h5></li>
                <li>Logo & branding Integration</li>
                <li>Google My Business Set Up</li>
                <li>Contact Form Handeling</li>
                <li>Search Engine Analytics</li> 
                <li>Responsive Design</li>
                <li>SEO friendly</li>
                <li><h5 class="card-title">No code blog or portfolio</h5></li>
                <hr>
                <br>
                <br>
                <br>
                
                <li>$30/Month Hosting</li>
                <small class="promotion-hosting">6 Months Free!</small>

              </ul>
              <br><br>
              <div class="d-grid my-3">
                <a href="/contact"><button class="btn btn-outline-dark btn-block">Get A Quote</button></a>
              </div>
            </div>

            
          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card card3 h-100">
            <div class="card-body" id="wd-premium">
             
              <h3 class="card-title">Premium</h3>
              <small class='text-muted'>For those who want to level up their business</small>
              <br><br>
              <span class="h2 pricing-cost">
                <small class="startingat" style="font-size:xx-small">Starting At</small>
                <br>
                <h4 class="card-title">$2,000</h4>
              </span>
              <small class="startingat" style="font-size:xx-small">Once</small>
              <br><br>
              <ul>
                <li><h5 class="card-title">5+ Pages</h5></li>
                <li>Logo & branding Integration</li>
                <li>Google My Business Set Up</li>
                <li><h5 class="card-title"><mark>Google reviews integration</mark></h5></li>
                <li>Contact Form Handeling</li>
                <li><h5 class="card-title"><mark>Custom form notifications</mark></h5></li>
                <li>Search Engine Analytics</li> 
                <li><h5 class="card-title"><mark>Search Engine Analytics Dashboard</mark></h5></li>
                <li>Responsive Design</li>
                <li>SEO friendly</li>
                <li><h5 class="card-title">No code blog <mark>& portfolio</mark></h5></li>
                <hr>
                <li>$40/Month Hosting</li>   
                <small class="promotion-hosting">6 Months Free!</small>
       
              </ul>
              <br><br>
              <div class="d-grid my-3">
                <button class="btn btn-outline-dark btn-block">Get A Quote</button>
              </div>
            </div>

            
          </div>
        </div>
      </div>    
    </div>
    </div>