<section id="webdesigninfosection">
    <div class="feature-service">
        <div class="container">
            <div class="feature-wpr grid-4">
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="feature-icon">
                        <i class="fa-solid fa-list-check fa-5x"></i>
                    </div>
                    <div class="feature-info">
                        <h5>Fully Managed</h5>
                        <p class="mb-40 feature-text">Start with a fully managed wordpress installed deployment. Fully managed by us with SFTP and Database access and one click back ups. Same wordpress less head aches</p>
                    </div>
                </div>
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                    <div class="feature-icon">
                        <i class="fa-solid fa-ferris-wheel fa-5x"></i>
                    </div>
                    <div class="feature-info">
                        <h5>Themes</h5>
                        <p class="mb-40 feature-text">Have a theme you need customized? No problem! Want your own custom theme? Easy peasy! We have lots of experience customizing wordpress for your needs</p>
                    </div>
                </div>
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                    <div class="feature-icon">
                        <i class="fa-solid fa-graduation-cap fa-5x"></i>
                    </div>
                    <div class="feature-info">
                        <h5>Training</h5>
                        <p class="mb-40 feature-text">Need your staff trained on best practices for blogging, posting or E Commerce? We can train your staff to ensure your wordpress install is using todays best standards and practices</p>
                    </div>
                </div>
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.0s">
                    <div class="feature-icon">
                        <i class="fa-solid fa-cart-shopping fa-5x"></i>
                    </div>
                    <div class="feature-info">
                        <h5>E Commerce</h5>
                        <p class="mb-40 feature-text">Selling online, drop shipping, print on demand? No problem! We have pre installed Woo Commerce and intergrations for just about anything you need to sell online</p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    </section>